[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "*"
python-dotenv = "*"

[packages]
sqlalchemy = "*"
restapi = {editable = true, path = "."}
flask = "*"
flask-cors="*"

mysqlclient = "*"

[requires]
python_version = "3.8"
